<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <label>Gene acc</label>
        <input type="text" name="term" id="term" value="{{ request.form['term'] }}" />
        <input type="submit" />
    </form>
    {% if results %}
        <label># of results:</label>
        {{ result_count }}
    <table>
        <tr>
            <th>Gene</th>
            <th>EnhancerID</th>
            <th>Coordinates</th>
            <th>Source</th>
            <th>Build</th>
            <th>Assay</th>
            <th>Tissue</th>
        </tr>
    {% for result in results %}
        <tr>
            <td>{{ result["gene"] }}</td>
            <td>{{ result["enhancer_ID"][0] }}</td>
            <td>{{ result["coordinates"] }}</td>
            <td>{{ result["enhancer_source"][0] }}</td>
            <td>{{ result["enhancer_build"][0] }}</td>
            <td>{{ result["assay"] }}</td>
            <td>{{ result["tissue"] }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
</body>
</html>